<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadee | Your Finance Companion</title>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Lexend:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background-color: #F0EEE9; font-family: 'Lexend', sans-serif;">
    {% block content %}{% endblock %}
</body>
</html>
